/* Main container with centered layout and gradient background */
.main-status-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(135deg, #f0f9ff, #cfd9df);
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.live-status-text {
  display: flex;
  align-items: center;
  gap: 10px; /* Adds space between Active and the circle */
}



.live-status-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: #333;
  font-size: 20px;
  margin-bottom: 15px;
}

.live-status-circle {
  width: 27px;
  height: 27px;
  border-radius: 50%;
  background-color: #28a745; /* Brighter green */
  box-shadow: 0 0 15px rgba(40, 167, 69, 0.7);

  animation: pulse 1.5s infinite;
}

.live-status-indicator {
  background-color: #28a745;
  color: white;
  border-radius: 8px;
  padding: 4px 8px;
  font-weight: bold;

  display: inline-block;
}

.status-message {
  font-size: 18px;
  color: #555;
  text-align: center;
}

.status-message p {
  margin: 10px 0;
  animation: fadeIn 1.5s ease-in-out;
}

.custom-spacing {
  margin-left: 3vw; /* Adjust the gap as needed */
  margin-right: 5vw;
}


.status-message p i {
  font-size: 2em; /* Increase icon size */
  margin-right: 8px;
  color: #28a745;
}

@keyframes pulse {
  0%, 100% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.8;
  }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}


@keyframes growShrink {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}

.broadcast-icon {
  animation: growShrink 1.5s infinite;
  color: #28a745;
  font-size: 8em;
}
