<div class="main-status-container">
  <div class="live-status-container">
    <span class="live-status-text">
      Live Status
      <span class="live-status-indicator custom-spacing">Active</span>
      <div class="live-status-circle"></div>
    </span>
  </div>
  <div class="status-message">
    <p><i class="bi bi-wifi"></i> Connection is Live</p>
    <p><i class="bi bi-cloud-arrow-up"></i> CDN network is working</p>
    <p><i class="bi bi-shield-check"></i> Operations are being monitored</p>
  </div>
  <span class="bi bi-broadcast broadcast-icon"></span>
</div>
