<div class="row justify-content-md-center">
  <div class="col-12 col-md-8 col-xl-6 mb-4">
    <div class="card border-light shadow-sm card-first">
      <div class="card-body">
        <h3>{{ 'menu.contacts' | translate }}</h3>


        <p  >Need a discussion over a cup of coffee about a potential mandate.</p>

        <table class="table">
          <tbody>
            <tr>
              <td><span class="fa fa-map-marker-alt text-success" aria-hidden="true"></span></td>
              <td><strong>Hyderabad, Telangana, India</strong></td>
            </tr>
            <tr>
              <td><span class="fa fa-circle text-success" aria-hidden="true"></span></td>
              <td><strong>Available for immediate joining</strong></td>
            </tr>
            <tr>
              <td><span class="fa fa-phone text-success" aria-hidden="true"></span></td>
              <td><strong><a class="link-to-project" href="tel:8328603546">+91 8328603546</a></strong></td>
            </tr>
            <!-- <tr>
              <td><span class="fa fa-comments text-success" aria-hidden="true"></span></td>
              <td><strong><a class="link-to-project" href="https://chroniquedundev.wordpress.com/">Chroniques d'un dev</a></strong></td>
            </tr> -->
            <tr>
              <td><span class="fa fa-coffee text-success" aria-hidden="true"></span></td>
              <td><strong><a class="link-to-project" href="mailto:appilivamsikrishna@gmail.com">appilivamsikrishna@gmail.com</a></strong></td>
            </tr>
            <tr>
              <td><span class="fa fa-envelope text-success" aria-hidden="true"></span></td>
              <td><strong><a class="link-to-project" href="mailto:krishna@appili.dev">krishna@appili.dev</a></strong></td>
            </tr>
            <tr>
              <td><span class="fa fa-language text-success" aria-hidden="true"></span></td>
              <td>English (Native), Telugu (Native), Tamil (Advanced), Hindi (Intermediate)</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
