<div class="upload-container">
  <input type="file" (change)="filesSelected($event)" multiple />
  <button (click)="uploadFiles()" [disabled]="isUploading">
    {{ isUploading ? "Uploading..." : "Upload File(s)" }}
  </button>

<div class="uploaded-files" *ngIf="uploadedFiles.length > 0">
  <p *ngFor="let file of uploadedFiles">
    <a [href]="file.url" target="_blank">{{ file.file_name }} ({{ file.file_size }} KB, {{ file.file_type }})</a>
    <button (click)="deleteFile(file.url)">Delete</button>
  </p>
</div>


</div>
