<div class="row justify-content-md-center" style="margin-top: 50px">
  <div class="col-12 col-md-8 col-xl-6 mb-4">
    <div class="card border-light shadow-sm card-first">
      <div class="card-body">
        <h3>Files Uploaded</h3>

        <!-- Loop through each file and display it as a button with file name and a delete button -->
        <div *ngFor="let file of files">
          <p class="text-center">
            <a
              class="btn btn-primary"
              [href]="file.file_link"
              [title]="file.file_name"
              target="_blank"
            >
              {{ file.file_name }}
              <span class="fa-solid fa-file" style="color: #ffffff"></span>
            </a>

            <!-- Delete Button -->
            <button class="btn btn-danger" (click)="deleteFile(file.unique_id)">
              Delete
              <span class="fa-solid fa-trash"></span>
            </button>
          </p>
        </div>

        <!-- Fallback if no files are found -->
        <div *ngIf="files.length === 0" class="text-center">
          <p>No files uploaded yet.</p>
        </div>
      </div>
    </div>
  </div>
</div>
