<div class="row justify-content-md-center" style="margin-top: 50px">
  <div class="col-12 col-md-8 col-xl-6 mb-4">
    <div class="card border-light shadow-sm card-first">
      <div class="card-body">
        <h3>Files</h3>

        <div>
          <p class="text-center">
            <a
              class="btn btn-primary"
              href="../../assets/files/BM_EndTerm_DP_23_FE_01.pptx"
              title="pptx"
            >
              BM EndTerm PPT DP 23 FE 01
              <span
                class="fa-solid fa-file-powerpoint"
                style="color: #ffffff"
              ></span
            ></a>
          </p>
        </div>

        <div>
          <p class="text-center">
            <a
              class="btn btn-primary"
              href="../../assets/files/FM_EndTerm_DP_23_FE_01.pptx"
              title="pptx"
            >
              FM EndTerm PPT DP 23 FE 01
              <span
                class="fa-solid fa-file-powerpoint"
                style="color: #ffffff"
              ></span
            ></a>
          </p>
        </div>

        <div>
          <p class="text-center">
            <a
              class="btn btn-primary"
              href="../../assets/files/FGP-MR_EndTerm_DP_23_FE_01.pptx"
              title="pptx"
            >
              Faculty Guided Project - Marketing & Retail EndTerm PPT DP 23 FE
              01
              <span
                class="fa-solid fa-file-powerpoint"
                style="color: #ffffff"
              ></span
            ></a>
          </p>
        </div>

        <div>
          <p class="text-center">
            <a
              class="btn btn-primary"
              href="../../assets/files/BPD_EndTerm_DP_23_FE_01.pptx"
              title="pptx"
            >
              Business Plan Development EndTerm PPT DP 23 FE 01
              <span
                class="fa-solid fa-file-powerpoint"
                style="color: #ffffff"
              ></span
            ></a>
          </p>
        </div>

        <div>
          <p class="text-center">
            <a
              class="btn btn-primary"
              href="../../assets/files/FoE_EndTerm_DP_23_FE_01.pptx"
              title="pptx"
            >
              Fundamentals of Entrepreneurship EndTerm PPT DP 23 FE 01
              <span
                class="fa-solid fa-file-powerpoint"
                style="color: #ffffff"
              ></span
            ></a>
          </p>
        </div>

        <div>
          <p class="text-center">
            <a
              class="btn btn-primary"
              href="../../assets/files/FoE_EndTerm_DP_23_FE_01.pdf"
              title="pptx"
            >
              PDF Fundamentals of Entrepreneurship EndTerm PPT DP 23 FE 01
              <span
                class="fa-solid fa-file-powerpoint"
                style="color: #ffffff"
              ></span
            ></a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
