<div class="row justify-content-md-center" style="margin-top: 50px">
  <div class="col-12 col-md-8 col-xl-6 mb-4">
    <div class="card border-light shadow-sm card-first">
      <div class="card-body">
        <h3>Images Uploaded</h3>

        <!-- Loop through each image and display it as a button with file name -->
        <div *ngFor="let image of images">
          <p class="text-center">
            <a
              class="btn btn-primary"
              [href]="image.file_link"
              [title]="image.file_name"
              target="_blank"
            >
              {{ image.file_name }}
              <span class="fa-solid fa-image" style="color: #ffffff"></span>
            </a>
          </p>
        </div>

        <!-- Fallback if no images are found -->
        <div *ngIf="images.length === 0" class="text-center">
          <p>No images uploaded yet.</p>
        </div>
      </div>
    </div>
  </div>
</div>
